@use "../helpers/variable" as *;
.heading {
  position: relative;
  h2 {
    text-align: center;
    margin: 40px auto;
    background-color: $redColor;
    color: #fff;
    border-radius: 15px;
    padding: 10px 15px;
    width: 250px;
    font-size: 20px;
    &::before {
      position: absolute;
      content: "";
      height: 1.5px;
      width: 100%;
      background-color: $garyColor;
      left: 0;
      top: 50%;
      z-index: -1;
    }
  }
}
